body, html {
    position: unset;
    top: inherit;
    left: inherit;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    webkit-overflow-scrolling: inherit;
}

.hide {
    display: none;
}

.content {
    /* background-color: #aaa; */
    /* overflow-y: auto; */
}

.container.faq-view {
    margin: 10px;
    border: 1px solid #DDD;
    border-radius: 15px;
}

/* .content>.container { */
    /* background-color: #fff; */
    /* box-shadow: 0 0 8px #888; */
    /* margin: 0 auto; */
    /* padding: 32px; */
    /* max-width: 900px; */
    /* margin-top: 32px; */
    /* margin-bottom: 32px; */
/* } */

.content>.container {
   background-color: #fff;
    padding: 32px;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    position: relative;
}

.view-header {
    background-color: #048c63;
    border-bottom: none;
    color: #fff;
    font-weight: bold;
    position: fixed;
}

.header {
    font-size: 18px;
    padding: 8px 0;
}

.content .header {
    background-color: #eff5ec;
    text-align: center;
}

.button-save {
    background-color: #048c63;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.button-submit {
    background-color: #1976D2;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
    position: absolute;
    top: 20px;
    right: 100px;
    margin: 0px 107px;
}

.button-save.parent {
    right: 32px;
}

.button-submit.parent {
    right: 32px;
}

.button-print {
    background-color: #fff;
    border: 1px solid #048c63;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 16px;
    position: absolute;
    top: 20px;
    right: 32px;
}

.button-print i {
    color: #048c63;
}

.button.post {
    /* margin-left: calc(100% - 62px); */
    margin-left: 17px
}

.button.post .text{
    
    text-align: center;
    
}

.tab .button-save {
    position: initial;
}

.student-container .button-save {
    position: initial;
    margin-top: 16px;
}

.input {
    border: none;
    padding: 0;
}

.input>.text {
    color: #888;
    margin: 16px 0 8px 0;
}

.grid .input {
    display: inline-block;
}

.splitter>.children>.fixed {
    overflow-y: auto;
}

.list {
    align-items: center;
    /* border-bottom: none; */
    cursor: pointer;
    padding: 10px 16px 10px;
    position: relative;
    display: flex;
    height: 48px;
}

.list .control {
    display: flex;
    height: 48px;
}

.list .control .text {
    display: inline-flex;
    color: #3e4676;
}

.list.highlight {
    background-color: #eff5ec;
    font-weight: bold;
}

.list .icon i {
    font-size: 32px;
}

.list.outline .icon i {
    font-size: 24px;
    color:#3e4676
}

.list>.control>.icon {
    margin-top: 0;
}

.list.term {
    font-weight: 600;
}

.delete-glossary, .edit-glossary {
    display: inline-flex;
    background-color: #EEE;
    transition: background 0.8s;
    cursor: pointer;
    height: 36px;
    padding: 0 8px;
    /* margin-left: 1rem; */
}


.delete-glossary .icon {
    font-size: 16px;
}

.edit-glossary {
    display: inline-flex;
    background-color: #EEE;
    transition: background 0.8s;
    cursor: pointer;
    height: 36px;
    padding: 0 8px;
    margin-left: 2rem;
}

.left-panel {
    padding-top: 3.5rem;
}

.left-panel .header {
    color: #888;
    font-weight: normal;
    font-size: 14px;
    margin-left: 16px;
    margin-top: 16px;
}

.form {
    border-radius: 18px;
}

.form .input {
    padding: 0 16px;
}

.form .input>.text {
    margin: 12px 0 8px 0;
}

.form-combobox .list {
    height: inherit;
}

.form-combobox .list .control {
    min-height: inherit;
    height: inherit;
}

.form-combobox .list .icon i {
    font-size: 20px;
}

.button-login {
    margin-left: 16px;
    background-color: #1976D2;
    border-radius: 4px;
    color: #FFF;
    margin-top: 16px;
    padding: 0px 32px;
}

.button-forgot {
    margin-left: 66px;
    background-color: #AAA;
    border-radius: 4px;
    color: #FFF;
    margin-top: 16px;
    padding: 0px 32px;
}

.button-register {
    background-color: #048c63;
    border-radius: 4px;
    color: #FFF;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    padding: 0px 32px;
}

.input-hint {
    position: relative;
}

.input-hint .button {
    background-color: transparent;
    color: #048c63;
    position: absolute;
    bottom: 0;
    right: 16px;
}

.input-hint .button .mdi-close-circle {
    color: #F44336;
}

.form.reset-form .header {
    background-color: #eee;
    text-align: center;
    padding: 16px;
}

.prevschool_container {
    border: 1px solid #CCC;
    position: relative;
    margin-bottom: 16px;
}

.prevschool_container .table.dock tr td {
    text-align: center;
}

.header-icon {
    text-align: center;
}

.header-icon i {
    background-color: #048c63;
    border-radius: 50%;
    color: #FFF;
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: -16px;
    height: 64px;
    width: 64px;
}

.main-container {
    position: relative;
}

.main-container .table {
    position: initial;
}

.info-header {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin: 32px 0 8px 0;
    padding: 4px 0;
    text-transform: uppercase;
}

.checklist>.control {
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    margin-right: 16px;
    margin-bottom: 8px;
    padding: 8px 42px 8px 16px;
}

.checklist>.control.checked {
    background-color: #048c63;
    border: none;
    color: #FFF;
}

.checklist .icon {
    top: 4px;
}

.info-more {
    margin-top: 32px;
    text-align: center;
}

.info-more-align-left-header {
    margin-top: 32px;
    text-align: left;
}

.info-more-align-left-sub {
    margin-top: 16px;
    text-align: left;
}

.signature {
    text-align: center;
}

.signature-img {
    margin: 16px 0 8px 0;
    border: 1px solid black;
}

.signature img {
    width: 30%;
}

.grid .signature {
    display: inline-block;
}

.child-name {
    margin-top: 16px;
}

.thumbnail-container {
    text-align: center;
}

.student-container {
    border: 1px solid #4fdfb4;
    display: inline-block;
    width: 128px;
    height: 180px;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    vertical-align: top;
    overflow: hidden;
}

.student-container .text {
    text-align: center;
}

.student-container:hover {
    background-color: #eff5ec;
}

.student-container .button-save {
    background-color: #048c63;
}

.student-icon, .student-icon .icon {
    height: 128px;
    src:"res/moodle.png";
}

.student-icon i {
    color: #EEE;
    font-size: 128px;
    vertical-align: top;
}

.back-icon {
    background-color: #1976D2;
    border-radius: 4px;
    box-shadow: 0 0 8px #888;
    padding: 0px 8px;
    position: absolute;
    top: 16px;
    /* left: -28px; */
}

.back-icon:hover {
    background-color: rgb(18, 88, 158);
}

.back-icon i {
    color: #fff;
    font-size: 32px;
}

.course-photo {
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 16px auto;
    height: 128px;
    width: 128px;
    text-align: center;
}

.student-no-picture {
    color: #eee;
    font-size: 96px;
}

.course-photo img {
    object-fit: cover;
    width: 128px;
    height: 128px;
}

.main-container .tab {
    border: 1px solid #CCC;
    margin-top: 40px;
}

.main-container .tab .tab-body, .main-container .tab .tab-content {
    position: inherit;
}

.main-container .tab .tab-body {
    border-top: none;
    top: 0;
    padding: 32px;
}

.main-container .tab .tab-header {
    background-color: #eff5ec;
    height: 42px;
}

.main-container .tab-header>div>.control {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 42px;
    padding: 0 16px 0 16px;
}

.main-container .tab-header div.selected {
    background-color: #FFF;
    border-radius: 4px 4px 0 0;
    margin-left: 4px;
    margin-top: 4px;
}

.tab {
    position: inherit;
}

.input input, .input-combobox .value, textarea {
    background-color: #eff5ec;
}

.input .value {
    border: 1px solid #EEE;
}

.form .grid {
    margin: 0 16px;
}

.form .grid .input {
    padding: 0;
    width: calc(50% - 24px) !important;
}

th {
    background-color: #eff5ec;
    font-size: 12px;
    padding: 8px 0;
}

.checklist {
    background-color: #eff5ec;
    border: 1px solid #EEE;
    padding: 16px;
}

.label {
    color: #888;
    margin: 16px 0 8px 0;
}

.medical-record {
    border: 1px solid #eee;
    text-align: center;
}

.no-picture {
    color: #888;
    margin-top: 42px;
}

.first-item {
    color: #888;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sub-items {
    list-style: disc;
    padding-left: 1rem;
}

.fee-table {
    /* padding-top: 1rem; */
    text-align: center;
}

.fee-table table {
    width: 100%;
}

.back-icon.register {
    top: inherit;
    bottom: 16px;
    left: 16px;
}

.pdf-page {
    width: 8.27in;
}

.main-splitter>.children>.fixed:first-child {
    background-color: #fff;
    box-shadow: 0 0 8px #ccc;
    z-index: 1;
}

.discussion-splitter {

}

.discussion-scroll {
    bottom: 4rem;
}

.main-splitter.mini .user-profile {
    height: 50px;
    padding: 0;
}

.user-profile {
    margin: 24px 0;
    white-space: nowrap;
}

.user-profile>.control>.text {
    font-weight: bold;
    margin-top: 10px;
}

.user-profile>.control>.icon {
    margin-right: 8px;
}

.user-profile i {
    border: 1px solid #048c63;
    border-radius: 50%;
    color: #048c63;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px !important;
    height: 48px;
    width: 48px;
}

.user-profile .children .text {
    color: #AAA;
    display: block;
    font-size: 12px;
    margin-top: -20px;
}

.user-profile.list {
    display: block;
}

.user-profile.list .control {
    display: block;
}

.download-form {
    display: inline-block;
    position: relative;
    padding-bottom: 1rem;
    margin-right: 16px;
}

.download-form-button {
    background-color: #048c63;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 8px;
}

.print-header {
    display: none;
}

.page-break {
    page-break-before: always;
}

.download-container {
    background-color: #FFF59D;
    border: 0.5px solid #888;
    margin-bottom: 16px;
    padding: 16px 16px 4px 16px;
    margin: -8px 0 16px 0;
}

.image-empty.medical-record {
    background-color: #FFF59D;
    border: 0.5px solid #888;
}

.image-empty.medical-record .image-container {
    object-fit: fill;
    height: 90px;
}

.input .value.readonly, .input .readonly-value {
    font-weight: bold;
    border: none;
}

.datatable .header {
    font-size: 12px;
}

.admission-text {
    background-color: #048c63;
    border-bottom: none;
    color: #fff;
    margin-top: 8px;
}

.student-photo {
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 16px auto;
    height: 128px;
    width: 128px;
    text-align: center;
}

.container.main-container .list .icon img {
    height: 48px;
}

@media screen and (max-width: 1200px) {
    .content {
        background-color: #fff;
        overflow-y: scroll;
    }
    .content>.container {
        background-color: #fff;
        box-shadow: none;
        margin: 0;
        padding: 32px;
        max-width: initial;
        margin-top: 0;
        margin-bottom: 0;
    }
    .back-icon {
        left: 32px !important;
    }
    .tab-content {
        width: inherit !important;
    }
}

@media screen and (max-width: 768px) {
    .content>.container {
        padding: 32px 16px 16px 16px;
    }
    .back-icon {
        left: 16px !important;
    }
    .button-save {
        right: 16px;
    }
    .main-container .tab {
        border: none;
        margin: 40px -16px 0 -16px;
    }
    .tab-header {
        border-top: none !important;
    }
}

@media screen and (max-width: 512px) {
    .login-form .button {
        justify-content: center;
        display: flex;
        margin: 16px;
        padding: 0;
        float: none;
    }
    .login-form .button-forgot, .login-form .button-register {
        display: inline-flex;
        width: calc(50% - 32px);
    }
    .login-form .button-register {
        float: right;
    }
    .grid .input {
        width: 100% !important;
    }
    .tab-header {
        display: block !important;
    }
    .tab-header>div {
        display: inline-block !important;
        width: calc(50% - 16px);
    }
    .main-container .tab .tab-header {
        height: inherit;
        text-align: center;
    }
    .course-photo {
        height: 256px;
        width: 256px;
    }
    .course-photo img {
        object-fit: cover;
        width: 256px;
        height: 256px;
    }
    .checklist {
        padding: 8px;
    }
    .checklist>.control {
        width: calc(50% - 66px);
        margin-right: 8px;
    }
    .main-container .table {
        overflow-x: auto;
    }
    .prevschool_container th {
        padding: 8px;
    }
}

/*----------------------------------------------------------mave CSS------------------------------------------------------------------------*/
.header_menu {
    background-color: #aaaaaa2b;
    font-weight: bold;
}

.sub_menu {
    padding-left: 2rem;
}

.course-container {
    border: 1px solid #4fdfb4;
    display: inline-block;
    width: 320px;
    height: 290px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
    margin: 8px;
}

.course-container .image.thumbnail {
    display: inline-flex;
    width: 100%;
    height: 120px;
    vertical-align: middle;
    overflow: hidden;
}

.course-container .image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    padding: 0 0 0 5px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.course-container .button-save {
    position: initial;
    margin-top: 16px;
}

.course-container .button-save {
    background-color: #048c63;
}

.course-container .toolbar-button {
    float: right;
}

.list.no-image-container{
    border-bottom: none !important;
}

.list.no-image-container.admin{
    right: -3rem;
}

.no-image-container {
    display: inline-flex;
    height: 120px;
}


.no-image-container .mdi.mdi-image {
    font-size: 128px;
    color: #EEE;
}

.no-image-container .mdi.mdi-book {
    font-size: 128px;
    color: #EEE;
}

.course-description .control .text {
    color: #AAA;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.course-image {
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 16px auto;
    height: 16.6rem;
    text-align: center;
}

.course-image img {
    object-fit: cover;
    /* width: 128px; */
    height: 270px;
}

.course-image .no-picture {
    margin: 7rem;
}

.file.course-file .file-container.no-file {
    color: #888;
    margin-top: 5px;
    /* border: 1px #555; */
}

.course-file {
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 16px auto;
    height: 50px;
    width: calc(100% - 16px);
    text-align: center;
}


.course-file .no-file {
    margin: 7rem;
}

.course-info-container {
    padding-top: 1rem;
}

.headercourse_button{
    width: 18px;
    height: 18px;
    background: none;
    box-shadow: none;
}

.presentation-list-container {
    top: 4rem;
    bottom: 3.5rem;
    max-height: 95%;
}


.presentation-list-container .list {
    /* padding: 0 20px 0 16px; */
    /* padding: 10px 16px 10px; */
    padding: 25px 16px 25px;
}

.presentation-list-container .list .tools {
    right: 8px;
    padding: 1rem 0 0 0;
}

.presentation-list-container .list .tools .text {
    font-size: 12px;
    color: #808080ab;
}


.content-container {
    /* height: -webkit-fill-available; */
    height: 100%;
}

.content-container-top {
    padding: 1rem;
}

.content-container-top .children{
    width: 100%;
    height: 100%;
}

.content-thumbnail-container {
    border: 1px solid #4fdfb4;
    display: inline-block;
    width: 128px;
    height: 128px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
    margin: 8px;
}

.content-thumbnail-icon {
    padding: 1rem;
}

.content-thumbnail-icon .icon i {
    font-size: 5rem;
    width: 6rem;
}

.button-container{
    text-align: center;
    padding-top: 2rem;
}

.button-addcontent{
    background-color: #048c63;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
    top: 20px;
    right: 100px;
}

.button-addcontent-slide {
    background-color: #048c63;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
    /* top: 20px; */
    right: 100px;
    display: inline-flex !important;
    align-items: right;
}

.button-addcontent-slide-delete {
    background-color: red;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
    display: inline-flex !important;
    align-items: right;
    margin-left: 5px;
}

.container.information-form{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1rem;
}

.container.discussion {
    border: 1px solid #4fdfb4;
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 590px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
}

.container.discussion .control .text {
    padding-left: 15px;
    padding-top: 15px;
}

.container.tools-ref {
    border: 1px solid #4fdfb4;
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 590px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
}

.container.tools-ref .control .text {
    padding-left: 15px;
    padding-top: 15px;
}

.container.faq {
    border: 1px solid #4fdfb4;
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 180px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
}

.container.faq .control .text {
    padding-left: 15px;
    padding-top: 15px;
}

.container.glossary {
    border: 1px solid #4fdfb4;
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 180px;
    padding: 16px;
    vertical-align: top;
    overflow: hidden;
}

.container.glossary .control .text {
    padding-left: 15px;
    padding-top: 15px;
}

.list.cont-list:hover {
    background-color: #EEE;
}

.youtube {
    background-color: #000;
    width: 100%;
    height: 100%;
}

.youtube iframe {
    height: 100%;
    width: 100%;
}

.presentation .presentation-image {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #fff;
}

.presentation .presentation-image .headertext-container {
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: 10.5rem;
}

.presentation .presentation-image .headertext {
    padding: 1rem;
    font-size: 28px;
    font-weight: bolder;
    color: #555;
    /* text-shadow: 4px 2px #0a0a0a; */
    /* position: fixed; */
    /* text-align: center; */
    /* padding-top: 11rem; */
    /* margin: auto; */
    
}

.presentation img {
    position: relative;
}

.presentation .presentation-image img {
   display: inline-block;
   /* width: 50%; */
   max-height: 50%;
   max-width: 45%;
   margin: auto;
   /* border: 0.5rem solid #aaa; */
   /* border-bottom: 5rem solid #aaa;
   border-top: 5rem solid #aaa; */
}

.prescontent.fullview {
    width: -webkit-fill-available !important;
}

.presentation .presentation-image .prescontent {
    display: inline-block;
    width: calc(50% - 2rem);
    height: 50%;
    padding: 1rem;
    background-color: white;
}

.prescontent .prescontenth {
    font-size: 26px;
    font-weight: bold;
}

.prescontent .prescontenti {
    /* font-weight: bold; */
    font-style: italic;
}

.prescontent .prescontentb {
    font-weight: bold;
}


.prescontentl {
    /* font-size: 18px; */
    font-weight: bold;
    font-style: italic;
    position: relative;
    cursor: pointer;
}

.prescontentp {
    /* padding-bottom: 1.5rem; */
    display: inline;
}

.prescontentl .buttonl {
    font-weight: bold;
    color: blue;
    font-style: italic;
    background: none;
    cursor: pointer;
    padding: 0px 4px;
    border: 1px solid #fff;
    text-align: left;
}

.prescontentl .buttonl:hover {
    font-weight: bold;
    text-decoration: underline;
}

.prescontentel {
    visibility: hidden;
}

.prescontentel:hover {
    visibility: visible;
}


.prescontent ul.prescontentul {
    list-style-type: square;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

.prescontent ol.prescontentol {
    list-style-type: lower-alpha;
    padding-left: 1.5rem;
}

.prescontent ol.prescontentabc {
    padding-left: 1.5rem;
}

.prescontent ol.prescontent123 {
    padding-left: 1.5rem;
}

.presentation-control {
    bottom: 8%;
}

.expert-tip {

    background-color: #555;

    /* background-color: #048c63; */
    border-radius: 29px;
    color: #FFF;
    display: flex;
    /* width: 5rem; */
    height: 32px;
    position: absolute;
    top: 11.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
    width: 6rem;
    right: 2%;
    /* background-color: #048c63;
    border-radius: 29px;
    color: #FFF;
    display: flex;
    width: 5rem;
    height: 32px;
    position: absolute;
    top: 14rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 50.5%; */
}

.et-form {
    z-index: 101;
    width: 800px;
    height: 600px;
    top: 15rem !important;
    right: 1rem !important;
    position: absolute;
    background: rgb(252, 252, 252);
    opacity: 1;
    border-radius: 1rem;
}

.et-form .form-body .text {
    padding: 1rem;
}

.ytinfocontainer {
    position: absolute;
    width: 45%;
}

.ytcontainer {
    width: 50%;
    float: right;
    height: 100%;
}

.saveviddatacont{
    padding-top: 1rem;
    text-align: center;
}

.saveviddatacont .saveviddata {
    background-color: #048c63;
    border-radius: 4px;
    color: #FFF;
    padding: 0px 32px;
}

.editor-container {
    padding: 1rem;
}

.editor-header , .et-header  {
    font-weight: bold;
    padding: 4px 0;
}

.editor-container textarea {
    height: 7rem;
}

.editorimage-container {
    padding: 1rem;
}

.editorimage-container img {
    width: 90%;
}

.editorimage-container .image-container {
    text-align: center;
}

.editorimage-container .editor-image {
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 16px auto;
    text-align: center;
    width: 50%;
    float: right;
    height: 100%;
}

.editorimage-container .no-picture {
    margin: 25%;
}

 .editorimage-container .pres-container {
    position: absolute;
    width: 45%;
 }

.quest-center-container, .choices-center-container {
    /* border: 1px solid #048c63; */
    height: 60%;
    margin-top: 40%;
    padding: 1rem;
    overflow-y: auto;
}

.qheader {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.qtextarea {
    height: 4.5rem;
}

.all-choices {
    border: 4px solid #2e7d32;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 1rem;
}

.drag-drop .questions {
    max-width: 50%;
}

.dragdrop-container{
    padding-top: 2%;

}

.dragdrop-container .drag-drop{
    display: inline-block;
    position: relative;
    height: 80%;
    background: white;
    width: 100%;
    padding: 1rem;
}

.draggable {
    margin-right: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    padding: 1rem;
    /* float: right; */
    border: 1px solid rgb(123, 126, 123);
    border-radius: 2rem;
    text-align: center;
    background: rgb(123, 126, 123);
}

.droppable {
    border: 1px solid #2e7d32;
    width: 21rem;
    height: 7rem;
    padding: 0.5em;
    /* float: left; */
    margin: 10px;
    color: gray;
}

.ui_correct{
    background: rgb(110, 201, 110);
    border:1px solid rgb(110, 201, 110);
}

.choices {
    float: right;
}

.input-text-area {
    border: none;
    padding: 0;
    margin-bottom: 4px;
}

.student-pres-icon{
    color: green;
}

.student-pres-icon i {
    font-size: 1.5rem !important;
}

/** ----------QUIZ------------------------ **/
.quiz-right-container{
    max-height: 93%;
    display: none;
}

.quiz-container {
    background-color: #FFF;
    box-shadow: 0 0 5px #555;
    max-width: 800px;
    margin: 1rem auto;
    padding: 2rem;
}

.quiz {
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.quiz:last-child {
    margin-bottom: 0;
}

.quiz-page {
    padding-top: 0.5rem;
    text-align: center;
}

.quiz-check {
    background-color: #FFF;
    border-radius: 50%;
    font-size: 3rem;
    line-height: 100%;
    font-size: 2rem;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.quiz-question {
    font-weight: 500;
    padding: 1rem 1rem 1rem 1.5rem;
    margin: -1rem -1rem 0 -1rem;
}

.quiz-choice {
    padding: 0.25rem 0;
}

.quiz-check .correct {
    color: #8BC34A;
}

.quiz-check .wrong {
    color: #F44336;
}

.quiz-choice {
    padding: 0.25rem;
}

.quiz-choice label {
    margin-left: 0.5rem;
}

.quiz-container-left{
    background-color : #EEE;
    margin: 0;
}

.time {
    text-align: center;
    position: inherit;
    padding-top: 20rem;
}

.timer {
    /* font-size: 4rem; */
    position: absolute;
    /* display: flex; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
	/* background-color : #EEE; */
    max-height: 95%;
}

.timer .instruction .text {
    font-size: 1rem;
    top: 10rem;
    position: relative;
    text-align: center;
}

.timer .time .text {
    font-size: 4rem;
    bottom: 30rem;
    /* position: absolute; */
}

.timer-button {
    background-color: #689F38;
    border-radius: 5rem;
    /* position: absolute; */
    font-size: 3rem;
    padding: 1rem 2rem;
    /* bottom: 5rem; */
    /* right: 3rem; */
    /* left: 3rem; */
    /* justify-content: center; */
}

.submit-button {
    background-color: #689F38;
    border-radius: 5rem;
    font-size: 2.5rem;
    padding: 1rem;
    bottom: 0;
}


.startbuttoncont {
    text-align: center;
    padding-top: 40%;
}

.submitbuttoncont{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 5rem;
    display: none;
}

.timer-button:hover {
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.instruction {
    text-align: center;
}

/** --------------------------------------- **/

/* Presentations Enable and Disable */

.presentation-items .icon i.mdi.mdi-checkbox-blank-outline {
    font-size: 24px;
    color: #3e4676;
}


.presentation-items.disable {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
    color: #888;
    cursor: default;
}

/** --------------------------------------- **/

/* Progress Bar */

.progress-bar-rrcap {
    /* margin-right: 20px; */
    text-align: left;
    /* width: 300px; */
    position: relative;
    bottom: -2rem;
}

.progress-container {
    background-color: #eee;
    border-radius: 5px;
    height: 5px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.progress-container .progress {
    background-color: #1ab394;
    height: 5px;
    vertical-align: top;
}

/** --------------------------------------- **/

.hidethisitem {
    display: none;
}

.scroll.fixed.faq {
    bottom: 5rem;
}

.img-form.no-footer {
    display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* padding-top: 100px;  */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.img-form.no-footer .form-body .control .text{
    display: block;
    overflow: auto;

}

.img-form.no-footer .form-body{
    /* padding: 1rem; */
    overflow: auto;
    display: block;

}

.img-form.no-footer .form-body .text > img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.img-form .form-header .tools {
    display: flex;
    top: 16px;
    right: 16px;
    color:#fff;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

/** --------------------------------------- **/

